/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
#background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/07/19/08/42/central-station-1527780_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

#priceTicket {
    color: #fff;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}


